# Virtual environment
.venv/
node_modules/
npm-debug.log*

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

docs/

# Distribution / packaging
build/
dist/
*.egg-info/
pip-wheel-metadata/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.pytest_cache/
.coverage
.coverage.*
htmlcov/

# Pyre type checker
.pyre/

# MyPy
.mypy_cache/

# IDEs and editors
.vscode/
.idea/

# Environment variables
.env
.env.*
frontend/.env
backend/.env
frontend/.env.*
backend/.env.*
frontend/node_modules/
backend/node_modules/
# Database
*.sqlite3

# Logs
.log

# macOS
.DS_Store

# Ruff cache
.ruff_cache/
/src/generated/prisma


friend/